
body{
    margin: 0;
    font-family: Roboto;
    background: #181818; 
  }
  .wrapper{
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
  }
  h1{
    margin: 30px auto;
    color: #ededed;
    text-align: center;
  }
  h2{
    margin: 20px;
    color: #ededed;
    text-align: center;
  }
  ul{
    padding: 0;
    border-radius: 14px;
    list-style-type: none;
    background: #2e2e2e;
  }
  li{
    border-bottom: 1px solid #484848 ;
    padding: 10px 0px;
    margin: 10px ;
  }
  li h4{
    color: #ededed;
    margin: 0;
    text-transform: capitalize;
  }
  li p{
    color: #ededed;
    margin: 8px 0 0;
  }
  
  form{
    background: #2d2d2d;
    border-radius: 10px;
    max-width: 940px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  label{
    display: block;
    font-weight: bold;
    font-size: 0.8em;
    color: #ededed;
    margin: 16px 0 6px;
  }
  input, select{
    padding: 6px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
  }
  .field{
    display: inline-block;
  
  }
  button{
    color: white;
    background: #111111;
    width: 80px;
    padding: 6px;
    margin: 20px;
    border-radius: 5px;
  }
 